[submodule "Askmedia-Syakillah"]
	path = Askmedia-Syakillah
	url = https://github.com/Chwakillah/askmedia-id
[submodule "BluBlu-Najwa"]
	path = BluBlu-Najwa
	url = https://github.com/najwaainayah/Final-Project
[submodule "EcoTrack-Dayana"]
	path = EcoTrack-Dayana
	url = https://github.com/Dayana-K-H/EcoTrack-Application
[submodule "EspressYoSelf-Rizki"]
	path = EspressYoSelf-Rizki
	url = https://github.com/rizkisepriadi/Express_yo_self_Final_Project
